# Please put anything you don't want to include in your commits and only keep in your local files here.
# GitHub Desktop (and many other Git GUIs) will let you automatically add a folder/file to this list by right-clicking on it in the Changes tab and clicking "Ignore file (add to .gitignore)"
